<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userMapper">
	<insert id="join" parameterType="uvo">
		insert into
		tbl_user(email,pwd,nickname,ismen)
		values (#{email}, #{pwd},
		#{nickname}, #{ismen})
	</insert>
	<select id="getuser" parameterType="java.lang.String"
		resultType="uvo">
		select * from tbl_user where nickname = #{nickname}


	</select>


	<select id="nick" parameterType="java.lang.String"
		resultType="uvo">
		select * from tbl_user where email=#{email}

	</select>

	<select id="checknick" parameterType="java.lang.String"
		resultType="java.lang.Integer">
		select count(nickname) from tbl_user where nickname = #{nickname}

	</select>
	<select id="checkemail" parameterType="java.lang.String"
		resultType="java.lang.Integer">
		select count(nickname) from tbl_user where email = #{email}

	</select>
	<select id="auto" parameterType="java.lang.String" resultType="uvo">
	
	select nickname 
	from tbl_user
	where nickname like concat('%',concat(#{search},'%'))
	
	</select>

	<update id="edit" parameterType="uvo">
		update tbl_user set nickname = #{nickname}, ismen = #{ismen}, usercomment =
		#{usercomment}
		where email = #{email}


	</update>

	<delete id="resign" parameterType="java.lang.String">
		delete from tbl_user where nickname = #{nickname}

	</delete>



</mapper>